.video__data {
  margin-top: 20px;
  span {
    font-size: 14px;
  }
  h2 {
    font-size: 18px;
  }
  .video__data-hashtags {
    margin-bottom: 10px;
    color: rgba($color: rgb(99, 138, 211), $alpha: 0.9);
  }
  .video__data-lineOne {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
    margin-bottom: 20px;
    .video__data-lineOne__columns:first-child {
      .video__data-title {
        margin-bottom: 15px;
      }
    }
    .video__data-lineOne__columns:last-child {
      display: flex;
      align-items: flex-end;
      padding-right: 15px;
      i {
        margin-right: 10px;
      }
    }
  }
  .video__data-lineTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .video__data-lineTwo__columns:first-child {
      display: flex;
      align-items: center;
      .video__data-avatar {
        width: 70px;
        .video-data__none-avatar {
          padding-top: 5px;
          font-size: 30px;
          display: block;
        }
        .video-data__avatar {
          width: 55px;
          height: 55px;
          border-radius: 50%;
        }
      }
    }
  }
  .video__data-lineThree {
    padding-left: 70px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
    margin-bottom: 20px;
  }
}

.video__comment__none-avatar {
  font-size: 35px;
  margin-right: 15px;
}
img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.video__add-comments {
  display: flex;
  align-items: center;
  width: 100%;
  .video__comment-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    textarea {
      width: 100%;
      height: 38px;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      box-sizing: border-box;
      resize: none;
      transition: all 0.3s ease-in-out;
      &:focus {
        outline: none;
        background-color: white;
        color: black;
        border-bottom: 2px solid tomato;
        border-radius: 2px;
      }
    }
    button {
      border: none;
      width: 60px;
      height: 35px;
      background-color: tomato;
      color: white;
      font-size: 14px;
      border-radius: 3px;
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  .video__comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 30px;
    .video__comment-info {
      display: flex;
      align-items: center;
      .video__comment-text {
        display: flex;
        flex-direction: column;
        div {
          margin-bottom: 10px;
          .video__comment-name {
            background-color: rgba($color: #fff, $alpha: 0.1);
            padding: 0 5px;
          }
        }
        &.disabled {
          display: none;
        }
      }
    }
    .video__comment-btn {
      display: flex;
      .delete__btn {
        margin-left: 10px;
      }
      &.disabled {
        display: none;
      }
    }
    .video__modifyComments-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      textarea {
        width: 100%;
        height: 38px;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
        resize: none;
        transition: all 0.3s ease-in-out;
        &:focus {
          outline: none;
          background-color: white;
          color: black;
          border-bottom: 2px solid tomato;
          border-radius: 2px;
        }
      }
      div {
        button {
          border: none;
          width: 45px;
          height: 25px;
          border-radius: 3px;
          margin-left: 10px;
          background-color: gray;
        }
        .modify-btn {
          background-color: tomato;
          color: white;
        }
      }
    }
  }
}
