.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__data-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .video__data-info {
      display: flex;
      flex-direction: column;
      .video__title {
        font-size: 26px;
        margin-bottom: 5px;
      }
      .video__owner {
        margin-bottom: 5px;
        font-size: 14px;
        a {
          color: cornflowerblue;
          text-decoration: underline;
        }
      }
      .video__createdAt {
        font-size: 12px;
      }
    }
  }
}
.video__add-comments {
  margin: 0 auto;
  .video__comment-form {
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    textarea {
      padding: 10px;
      border-radius: 5px;
      box-sizing: border-box;
      resize: none;
      &:focus {
        outline: none;
        background-color: white;
        color: black;
      }
    }
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 1000px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    .video__comment-text {
      &.disabled {
        display: none;
      }
    }
  }
}
