div.social__login
  a(href="/users/github/start").social__btn.social__btn--github 
    i.fab.fa-github
      span  Continue with Github &rarr;
  a(href="/users/kakao/start").social__btn.social__btn--kakao 
    i.fas.fa-comment
      span  Continue with Kakao &rarr;